:root {
    --r-alliance: #ED1C24;
    --b-alliance: #0066B3;
    --white: #ffffff;
}

body {
    color: var(--white);
    background-color: var(--r-alliance);
    text-align: center;
    transition: background-color 0.25s ease;
}

html, body {
    overscroll-behavior: none;
}