@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --r-alliance: #ED1C24;
    --b-alliance: #0066B3;
    --white: #ffffff;
}

body {
    color: var(--white);
    background-color: var(--r-alliance);
    text-align: center;
    transition: background-color 0.25s ease;
    padding: 10px;
    font-family: Nunito;
    letter-spacing: 3px;
}

html, body {
    overscroll-behavior: none;
    user-select: none;
}

button {
    color: var(--white);
    background-color: grey;
    outline: 2px solid white;
    border-width: 0px;
    border-radius: 5px;
    opacity: 100%;
    transition: opacity 100ms ease;
    font-size: 20px;
    /* padding: 20px; */
    font-family: Nunito;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 100px;
    aspect-ratio: 2;
    margin: 15px;
}

button:hover {
    opacity: 75%;
}

#Reset_btn {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}

#Vibrate_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    outline: none;
    display: none;
}

#WinAutoNo {
    display: inline-block;
    position: relative;
    bottom: -5px;
}

#WinAutoYes {
    display: none;
    position: relative;
    bottom: -5px;
}